<div class="v-form-select">
    <input class="v-form-select__input" :type="typeText ? 'text' : 'button'" :value="setValue"
        :placeholder="placeholder" spellcheck="false" @click="dropList()" @input="changeText($event.target.value)" />
    <span class="select-focus"></span>
    <ul ref="list" x-placement="bottom-start" v-click-outside="outList">
        <li v-for="option in selectOptions" :key="option.id" :value="option.id" @click="selectOption($event)">
            {{ option.data }}
        </li>
    </ul>
</div>